<div class="row">
    <div class="col-4">
        <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
            <input type="radio" class="btn-check badge-input" name="btnradio" id="btnradio1"
                (change)="changeView('all')" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="btnradio1">
                <div [matBadge]="allWordsCount" matBadgeOverlap="false" matBadgeColor="warn" class="demo-section">My Words</div>
            </label>

            <input type="radio" class="btn-check mt-2" name="btnradio" (change)="changeView('favourites')" id="btnradio2"
                autocomplete="off">
            <label class="btn btn-outline-dark mt-2" for="btnradio2">
                 <div [matBadge]="favouritesCount" matBadgeOverlap="false" matBadgeColor="warn" class="demo-section">Favourites</div>
            </label>

            <input type="radio" class="btn-check mt-2" name="btnradio" id="btnradio3" (change)="changeView('searched')"
                autocomplete="off">
            <label class="btn btn-outline-dark mt-2" for="btnradio3">
                <div [matBadge]="searchedCount" matBadgeOverlap="false" matBadgeColor="warn" class="demo-section">Most Searched</div>
            </label>
        </div>
    </div>
    <div class="col-8">
        <div *ngFor="let word of paginatedWords">
            <app-word-item [wordData]="word" (wordDeleted)="wordDeleted($event)" 
             (favouriteChanged)="favouriteChanged($event)" (searchWordEvent)="searchWord($event)">
            </app-word-item>
        </div>
        <mat-paginator class="mt-2" [length]="wordCount" [pageSize]="pageSize" [pageSizeOptions]="[5,10]" 
          (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>