<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-8 offset-2">
            <form [formGroup]="wordForm">
                <button class="btn btn-success px-4" *ngIf="isEditEnabled" type="button" [disabled]="disableSaveButton()" (click)="saveEditChanges()">Save Changes</button>
                <button class="btn btn-dark mx-2 px-4" *ngIf="isEditEnabled" (click)="cancelEdit()" type="button">Cancel</button>

                <button *ngIf="!isEditEnabled" class="btn btn-success px-4" [disabled]="disableSaveButton()" (click)="submitForm()" type="button">Save Word</button>
                <button *ngIf="!isEditEnabled" class="btn btn-dark mx-2 px-4" (click)="onReset()" type="button">Reset</button>
                <mat-tab-group class="mt-2" [(selectedIndex)]="selectedTabIndex">
                    <mat-tab label="Basic Details" class="mt-1">
                        <div class="tab-content">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="wordInput" formControlName="wordInput"
                                        placeholder="enter your word" autocomplete="off">
                                    <label for="wordInput">Enter your word</label>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-floating dropdown">
                                    <button class="form-select text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ selectedLabels || 'Select parts of speech' }}
                                    </button>
                                    <ul class="dropdown-menu w-100">
                                        <li *ngFor="let option of options">
                                            <div class="form-check mx-2">
                                                <input class="form-check-input" type="checkbox" [id]="option.value"
                                                    (change)="toggleOption(option)" [checked]="option.selected" />
                                                <label class="form-check-label" [for]="option.value">{{option.label}}</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                          <div class="form-floating">
                            <div *ngIf="wordForm.value.speechParts.length > 0" formArrayName="speechParts">
                                <div *ngFor="let temp of partsOfSpeechControls; let i = index" [formGroupName]="i">
                                    <div class="row">
                                        <label [for]="wordForm.value.speechParts[i].type" class="col-sm-2 col-form-label">
                                            <mat-chip-list>
                                                <mat-chip class="chip">
                                                    {{ wordForm.value.speechParts[i].type }}
                                                    <button matChipRemove (click)="removeChip(wordForm.value.speechParts[i].type)"><mat-icon>cancel</mat-icon></button>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" [id]="wordForm.value.speechParts[i].type" 
                                                formControlName="description" placeholder="enter meaning" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row mt-1">
                            <div *ngIf="wordForm.value.examples.length > 0" formArrayName="examples">
                            <div class="mb-1 row" *ngFor="let temp of exampleControls; let i = index" [formGroupName]="i">
                                <div class="col-11">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="provide an example"
                                            formControlName="description" id="example.description"></textarea>
                                        <label for="example.description">Example {{i+1}}</label>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-danger px-4 py-3" (click)="removeExample(i)">X</button>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row sticky-footer mt-2">
                            <div class="form-floating">
                              <button class="btn btn-primary footerButtons" (click)="onAddExample()">Add Example</button>
                            </div>
                        </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Synonyms & Antonyms" class="mt-1"> 
                        <div class="container-fluid mt-2">
                            <div class="row"> 
                                <div class="col-6">
                                    <div *ngIf="wordForm.value.synonyms.length > 0" formArrayName="synonyms">
                                        <div class="row mb-1" *ngFor="let temp of synonymControls; let i = index" [formGroupName]="i">
                                            <div class="col-1">
                                               <button type="button" class="btn btn-danger py-3 px-4" (click)="onRemoveSynonym(i)">X</button>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-10">
                                              <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="enter a synonym" id="temp.value" formControlName="value" autocomplete="off">
                                                <label for="temp.value">Synonym {{i+1}}</label>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary footerButtons mt-2" (click)="onAddSynonym()"> Add Synonym </button>
                                </div>


                                <div class="col-6">
                                    <div *ngIf="wordForm.value.anonyms.length > 0" formArrayName="anonyms">
                                        <div class="row mb-1" *ngFor="let temp of anonymControls; let i = index" [formGroupName]="i">
                                            <div class="col-1">
                                               <button type="button" class="btn btn-danger py-3 px-4" (click)="onRemoveAntonym(i)">X</button>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-10">
                                              <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="enter a synonym" id="temp.value" formControlName="value" autocomplete="off">
                                                <label for="temp.value">Antonym {{i+1}}</label>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary footerButtons mt-2" (click)="onAddAnonym()"> Add Antonym </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</div>