.chip {
    background-color: rgb(158, 227, 241);
}

.mat-mdc-tab-group,
.mat-mdc-tab-body-wrapper,
.mat-mdc-tab-body-content {
  overflow-x: hidden !important;
}

/* ===== TAB CONTENT ===== */
.tab-content {
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
}

.footerButtons {
  width: 100%; 
  box-sizing: border-box;
}
