.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 225px));
  gap: 10px;
  justify-content: center;
}

.box {
  position: relative;
  width: 225px;
  height: 200px;
  perspective: 1000px;
}

.box-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.box.flipped .box-inner {
  transform: rotateY(180deg);
}

.box-front,
.box-back {
  font-size: 17px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  padding: 12px;
  text-align: center;
}

.box-back {
  transform: rotateY(180deg);
  background: white;
  color: black;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  text-align: left;
}

.action-buttons {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  z-index: 2;
}

.action-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(229, 226, 226)
}