li {
    font-size: 14px;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    position: relative;
    top: -4px;
}

.note {
    font-size: 12px;
    margin-left: 2px;
}

mat-icon {
    line-height: 1px;
    margin-left: 75px;
    margin-bottom: 35px;
}