<div class="accordion mb-1" [id]="accordionId">
    <div class="accordion-item">
        <h2 class="accordion-header" [id]="accordionHeadingId">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="accordionTargetButtonId" aria-expanded="false"
                [attr.aria-controls]="accordionButtonId">
                <strong class="font-style">
                    <span *ngIf="wordData.favourite === 'Y'">&#9733;</span>  
                    {{ sharedService.capitalizeSentence(wordData.word) }}
                </strong>
            </button>
        </h2>
        <div [id]="accordionButtonId" class="accordion-collapse collapse" [attr.aria-labelledby]="accordionHeadingId"
            [attr.data-bs-parent]="accordionBSId">
            <div class="accordion-body py-0 px-0">
                <div class="card-body mb-3 px-3 word-header">
                    <h1 class="card-title font-style-header py-0 word-title">
                        {{ sharedService.capitalizeSentence(wordData.word) }} 
                        <span style="font-size: 15px;">({{ speechPartsSeparated }})</span>
                    </h1>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="editWord()" mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button (click)="deleteWord()" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button (click)="favorite()" mat-menu-item>
                            <mat-icon>star</mat-icon>
                            <span *ngIf="wordData.favourite === 'N'">Add to favourites</span>
                            <span *ngIf="wordData.favourite === 'Y'">Remove from favourites</span>
                        </button>
                    </mat-menu>    
                    
                </div>
                <div class="card-body mb-4 px-4">
                    <h2 class="card-title font-style-header py-0">&bull; Parts Of Speech</h2>
                    <i>
                        <p *ngFor="let speech of wordData.partsOfSpeech" class="card-text font-style px-4 py-0">
                            <strong>{{ speech.partOfSpeech }} - </strong> {{ speech.meaning }}
                        </p>
                    </i>
                </div>
                <div *ngIf="wordData.examples && wordData.examples.length > 0" class="card-body px-4 mb-2">
                    <h2 class="card-title font-style-header py-0">&bull; Example Sentences</h2>
                    <i>
                        <p *ngFor="let example of wordData.examples" class="card-text font-style px-4 py-0">
                            &mdash; {{ example.description }}
                        </p>
                    </i>
                </div>
                <div *ngIf="anotonymsPresent || synonymsPresent"
                    class="card mt-4 mb-1 mx-1 font-style-synany bottom-card">
                    <ul class="list-group list-group-flush py-0">
                        <li *ngIf="synonymsPresent" class="d-flex align-items-center card-footer">
                            Synonyms
                            <mat-chip-list class="mx-3">
                                <mat-chip (click)="initiateSearch(synonym)" *ngFor="let synonym of wordData.synonyms" class="chip mx-1">{{ synonym }}</mat-chip>
                            </mat-chip-list>
                        </li>
                        <li *ngIf="anotonymsPresent" class="d-flex align-items-center card-footer">
                            Antonyms
                            <mat-chip-list class="mx-3">
                                <mat-chip (click)="initiateSearch(antonym)" *ngFor="let antonym of wordData.antonyms" class="chip mx-1">{{ antonym }}</mat-chip>
                            </mat-chip-list>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>