.font-style {
    font-size: 14px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font-style-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font-style-synany {
    font-size: 14px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.show-bullets .list-group-item {
  list-style-type: disc !important;
  list-style-position: inside !important;
}

mat-chip {
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-chip:hover {
  cursor: pointer;
}

.accordion-button {
  background-color: white;
  color: black;
  box-shadow: none;
}

/* Open state */
.accordion-button:not(.collapsed) {
  background-color: #dbeafe; /* light blue */
  color: black;
  border: 1px solid #90caf9;
}

.bottom-card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}


.word-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.word-title {
  margin: 0;
  font-weight: 600;
}